/*
 * Copyright 2023 Marek Kobida
 */

body {
  color: hsl(0, 0%, 100%);
  height: 100%;
}
html {
  height: 100%;
}
input,
select {
  appearance: none;
  background-color: inherit;
  border-color: hsl(0, 0%, 50%);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
table {
  border-color: hsl(0, 0%, 50%);
  border-spacing: var(--border-width);
}
td {
  border-color: hsl(0, 0%, 50%);
}
/**/
.border-color\(red\) {
  border-color: hsl(120, 100%, 75%);
}
